<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Article Bilan Projet Mentorat</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/assets//favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets//apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MyWebSite" />
  <link rel="manifest" href="/assets//site.webmanifest" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">
</head>

<body class="events-page">

  <header id="header" class="header fixed-top ">

    <div class="topbar d-flex align-items-center mb-2">
      <div class="container d-flex justify-content-md-between">
        <div class="contact-info d-flex align-items-center justify-content-around justify-content-md-between">
          <p><i class="bi bi-stars"></i>Article Finale Eloquenc’Art 2025</p>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="https://www.tiktok.com/@jsf.782?lang=fr" class="tiktok" target="_blank"><i class="bi bi-tiktok"></i></a>
          <a href="https://www.facebook.com/people/Jeunesse-Sans-Fronti%C3%A8res-78/100067145863881/?locale=hi_IN" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/jeunessesansfrontieres.78/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/company/jeunesse-sans-fronti%C3%A8res-78/?originalSubdomain=fr" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="https://www.youtube.com/@Jeunessesansfrontieres78" class="instagram" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="container d-flex align-items-center justify-content-between">
      <div>
        <li class="d-flex gap-2"><i class="bi bi-arrow-left-square" style="color: white;"></i><a href="/index.html#services-2" class="nav-item-2">Retour au site</a></li>
      </div>
      <h1 class="logo-2">
        <a href="#" class="logo-2">Eloquenc’Art</a>
      </h1>
    </div>
  </header>
  
  <main class="main">
    <!-- Page Title -->
    <div class="page-title-2 dark-background" data-aos="fade" style="background-image: url(/article.jpg);">
      <div class="container position-relative">
        <h1>Finale Eloquenc’Art 2025</h1>
        <p class="opaciter">Une soirée d’éloquence et de culture, entre danse, battle et face-à-face des finalistes.</p>
      </div>
      <a href="https://www.helloasso.com/associations/jeunessesansfrontieres/evenements/finale-eoquenc-art" target="_blank" class="btn-get-started-active btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
        <span>Je réserve ma place</span>
        <i><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.68066 2.6998H13.8807M13.8807 2.6998V13.8998M13.8807 2.6998L3.32706 13.2534" stroke="black" stroke-width="1.2"/>
        </svg></i>
      </a>
    </div><!-- End Page Title -->
    
    <div class="page-title" data-aos="fade">
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li class="d-flex gap-2"><i class="bi bi-arrow-left-square"></i><a href="/index.html#services-2">Retour au site</a></li>
          </ol>
        </div>
      </nav>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-lg-12">
  
            <!-- Blog Details Section -->
            <section id="blog-details" class="blog-details section">
              <div class="container">
  
                <article class="article">
  
                  <!-- <div class="post-img">
                    <img src="/assets/img/actu/voyage-tanzanie.jpg" alt="" class="img w-100">
                  </div> -->
  
                  <h2 class="title">Un rendez-vous unique au Conservatoire de Trappes</h2>
  
                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Samia</a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">27 Septembre</time></a></li>
                      <!-- <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">12 Comments</a></li> -->
                    </ul>
                  </div><!-- End meta top -->
  
                  <div class="content">
                    <h3>Un rendez-vous unique au Conservatoire de Trappes</h3>
                    <p>
                        Le samedi 27 septembre 2025, de 18h à 20h, le Conservatoire de Trappes accueillera la 3ème édition de la grande finale du concours Eloquenc’Art.
                        Cet événement, porté par Jeunesse Sans Frontières, met à l’honneur la parole des jeunes, leur confiance en soi et leur créativité.
                    </p>

                    <h3>Un programme riche et varié</h3>
                    <p class="mb-2">Pour cette soirée exceptionnelle, le public aura l’occasion de vivre :</p>
                    <ul class="mb-2">
                        <li>Un pré-show de danse pour ouvrir la soirée avec énergie et ambiance,</li>
                        <li>Un battle 3vs3 opposant Trappes et Les Mureaux, symbole d’un échange culturel et artistique fort,</li>
                        <li>La Grande Finale d’Eloquenc’Art avec les face-à-face des 4 finalistes, prêts à convaincre par leur talent et leur puissance oratoire.</li>
                    </ul>

                    <h3>Un jury d’exception</h3>
                    <p>
                        Un jury composé de personnalités publiques viendra départager les finalistes et apporter un regard professionnel sur les performances.
                        Leurs noms resteront secrets jusqu’au jour J, afin de préserver l’effet de surprise et d’attiser la curiosité du public.
                    </p>

                    <h3>Donner la parole à la jeunesse</h3>

                    <p class="mb-2">
                        Au-delà de la compétition, Eloquenc’Art est un projet qui vise à :
                    </p>
                    <ul class="mb-2">
                        <li>Valoriser les compétences oratoires,</li>
                        <li>Encourager la confiance en soi,</li>
                        <li>Promouvoir la culture et l’engagement citoyen.</li>
                    </ul>
                    <p>Cet événement s’inscrit pleinement dans la mission du Pôle Culturel de JSF : offrir à la jeunesse des espaces d’expression, de partage et d’épanouissement.</p>
  
                    <blockquote>
                      <p>
                        « Eloquenc’Art, c’est bien plus qu’un concours : c’est une scène ouverte où la jeunesse fait entendre sa voix et inspire l’avenir. »
                      </p>
                    </blockquote>
  
                    <h3>Conclusion</h3>
                    <p>
                        La finale Eloquenc’Art 2025 s’annonce comme un moment fort, mêlant art, culture et engagement.
                        Entre danse, battle et éloquence, cette soirée promet d’être riche en émotions et en découvertes.
                        Rendez-vous le 27 septembre au Conservatoire de Trappes pour soutenir les finalistes et partager un instant unique avec JSF.
                    </p>
  
                  </div><!-- End post content -->
  
                  <div class="meta-bottom">
                    <i class="bi bi-folder"></i>
                    <ul class="cats">
                      <li><a href="#">JSF Culturel</a></li>
                    </ul>
  
                    <i class="bi bi-tags"></i>
                    <ul class="tags">
                      <li><a href="#">#Eloquence</a></li>
                      <li><a href="#">#Battle3vs3</a></li>
                      <li><a href="#">#Trappes</a></li>
                      <li><a href="#">#EloquencArt2025</a></li>
                    </ul>
                  </div><!-- End meta bottom -->
  
                </article>
  
              </div>
            </section><!-- /Blog Details Section -->
          </div>
        </div>
    </div>
    
  </main>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>